.calcWrapper {
  width: 30rem;
  border: 1px solid black;
  padding: 2rem 1rem;
  margin: 2rem;
}

.calcInputs {
  font-size: 1.6rem;
}

.calcInputs > label {
  display: inline-block;
  margin-bottom: 0.9rem;
}

.calcInputs > input {
  font-size: 1.6rem;
  display: block;
  width: 100%;
  padding: 4px 0 0 5px;
  margin-bottom: 1rem;
}

.calcBtns {
  margin-top: 2rem;
  text-align: center;
}
.calcBtns > button:not(:last-child) {
  margin-right: 1rem;
}

/* removing up/down arrow from input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
